<h1 class="display-4">Selamat Datang Di Halaman Artikel</h1>
<p class="mb-4">Halaman untuk mengatur artikel</p>
<a href="/artikel/daftar" class="btn btn-light">Daftar Artikel</a>
<a href="/artikel/tambah" class="btn btn-light">Tambah Artikel</a>