<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
    
    <section>
        <div class="bg-warning">
            <ul class="nav container">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="https://mail.google.com">
                        <small><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp&nbspalvianrht@gmail.com</small>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="https://web.whatsapp.com/">
                        <small><i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbsp0856-0644-2737</small> 
                    </a>
                </li>
                <li class="nav-item  ml-md-auto"> <!-- d-none d-md-flex -->
                    <a class="nav-link text-dark" href="#">
                        <small>
                            <i class="fa fa-twitter icon-pojok" aria-hidden="true"></i>
                            <i class="fa fa-facebook icon-pojok" aria-hidden="true"></i>
                            <i class="fa fa-windows icon-pojok" aria-hidden="true"></i>
                            <i class="fa fa-whatsapp icon-pojok" aria-hidden="true"></i>
                        </small> 
                    </a>
                </li>
            </ul>
            
        </div>

        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:80px;">
            <div class="container">
                <a class="navbar-brand" href="/">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar nav mr-auto ">
                        <li class="nav-item active ">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Components</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-search text-warning search-icon" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>      
        </nav>
        <!-- navbar end -->
<!-- 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">LOGO</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/artikel/daftar">ADMIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
    </section>
  
    <%- body %>
    <div class="container">
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
      
  </body>
</html>
